
.contenedor{
   width: 70vw;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   background-color: gainsboro;
   padding: 20px;
   position: relative;
   
   
}

.nombre2-container{
   position: absolute;
   top:0;
   left:0;
  
    
}
.alumno {
   width:20em;
   color:black;
   background-color: blue;
   margin: 10px;
   padding: 10px;
   cursor: pointer;
   border: 1px solid white;
   transition:  0.5s;
   display:flex;
   flex-direction:column;
   justify-content:space-evenly;
   
}
   
.alumno:hover {
   background-color: lightblue; 
   padding-top: 20px;
   padding-bottom:20px
}

.alumno:active {
   background-color: red;
   transition:0s  
}

.nombre {
   background-color: green;
   padding: 5px;
   margin-bottom: 10px;
   transition:  0.5s;
}

.nombre:hover{
   padding-top: 20px;
   padding-bottom:20px
   
}


.hobbies {
   display: flex;
   justify-content: space-evenly;
   background-color: red;
   padding:10px;
   transition:  0.5s;
   
}

.hobbies:hover {
   padding-top: 20px;
   padding-bottom:20px
   
   
}


.edad{
   background-color: goldenrod;
   margin-bottom: 10px;
   transition:  0.5s;
}

.edad:hover{
   padding-top: 20px;
   padding-bottom:20px
   
}

.hobbies div{
   padding:5px;
   background-color: grey;
   transition:  0.5s;
   border: 10px solid blue;
}

.hobbies div:hover{
   padding-top: 20px;
   padding-bottom:20px
}


.nombre2 {

   width: 300px;
   height: 300px;
   background-color: pink;
   font-size: xx-large;
   display: flex;
   justify-content: center;
   align-items: center;
   
   border: solid 2px firebrick;
   
}


.botoncerrar {
   width: 50px;
   height: 50px;
   background-color: black;
   color: white;
   position: absolute;
   top:0px;
   left: 250px;
}